<html>
	<head>
		<title>My Account 1</title>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estipro.css">
	</head>

	<body>

		<div id=menu>
		<a href="">@{{user.username}}</a>
		{% if user.is_authenticated %}  <a href="/logout">Logout {% else %} <a href="/accounts/login"> Login </a>  {% endif %}
		<a href="/newTweet"> New  Tweets</a>

		<div id="header">
		</div>
		 <br>
	     <br>
	     <br>
	     <br>

						
<form method="POST">
<table border="1"  align="center">
	<tr> <td width="130" height="130"> Here pic </td> 
		<td> 
			<table border="1"  align="left">
				<tr> <td> 
				<p> <a href="/profile"> View profile</a> </p>  
				</td> </tr>
				<tr> <td class="td2"> <p> Seguidores </p>  </td> </tr>
			</table>
		</td> 
		<td> 
			<table border="1" class="width_tableProfile1" align="left">
				
				<tr> <td  width="400" height="300"> <p> Tweet </p>  </td> </tr>
			</table>
		</td>
	</tr>

	<div> </div>
</table>
</form>
</body>
</html>
