<html>
<head>
	<title>User Profile</title>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estipro.css">

</head>

<body>
	<div id=menu>
	{% if user.is_authenticated %}  <a href="/login"> Login </a> {% else %}  <a href="/logout">Logout {% endif %}
	<a href="/account">Session</a>
	<a href="/edit">Edit Profile</a> 

<div id="header">
	<div id="principal">
		<table border="1"  align="center">
		<tr> 
			<td width="130" height="130"> Here pic </td> 
				
		</tr>

		</table>
		<p> Your Information: </p>
		<p> Username:      {{ user.user.username }} </p>
		<p> e-mail:        {{ user.user.email }} </p>
		<p> Birthday:      {{ user.birthday }}  </p>
		<p> Location:      {{ user.location }}  </p>
		<p> Bio:           {{ user.bio }}  </p>
	</div>
</div>
</body>
</html>